/* testing */

header {
  padding: 20px;
  background-color: mediumaquamarine;
}

.title {
  font-size: 40px;
  font-family: "Times New Roman", serif;
  font-weight: 600;
}

body {
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
}

article{
  margin: 15px;
  width: 75%;
  float: left;
}

h2 {
  font-family: "Times New Roman", serif;
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-family: "Times New Roman", serif;
  font-size: 20px;
}

.male-fly {
  float: right;
  margin-right: 15px;
  width: 25%;
}

.female-fly {
  float: right;
  margin-right: 15px;
  width: 25%;
}     
