/* testing */

header {
  padding: 12px;
  background-color: mediumaquamarine;
}

.title {
  font-size: 45px;
  font-family: "Times New Roman", serif;
  font-weight: 650;
}

body {
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 1;
}


h2 {
  font-family: "Times New Roman", serif;
  font-weight: 600;
  font-size: 30px;
}

h3 {
  font-family: "Times New Roman", serif;
  font-size: 20px;
}
